*⛏️ New {{pool}} block*

*Number*: [{{number}}](https://etherscan.io/block/{{hash}})
*Reward*: {{reward}} {% if reward_fiat != 'None' %}\({{reward_fiat}}\){% endif %}
*Date/Time*: {{time}}
*Round time*: {{round_time}}
*Luck*: {{luck}}
