*⛏️ Block {{block_number}} mined by Flexpool*

*Date/Time*: {{block_time}}
*Reward*: {{block_reward}}
*Round time*: {{block_round_time}}
*Luck*: {{block_luck}}

💰 {{miner_address}}

*Unpaid balance*: {{miner_balance}} \({{miner_balance_converted}} {{currency}}\)
*Unpaid percentage*: {{miner_balance_percentage}}
