*💰 New balance*

*Address*: [{{address}}](https://flexpool.io/{{address}})
*Unpaid balance*: {{balance}} {% if balance_fiat != 'None' %}\({{balance_fiat}}\){% endif %}
*Unpaid percentage*: {{balance_percentage}}
