*💵 New payment*

*Amount*: {{amount}} {% if amount_fiat != 'None' %}\({{amount_fiat}}\){% endif %}
*ID*: [{{txid}}](https://etherscan.io/tx/{{txid}})
*Address*: {{address}}
*Date/Time*: {{time}}
*Duration*: {{duration}}
