*💵 New {{pool}} payment*

*Amount*: {{amount}} {% if amount_fiat != 'None' %}\({{amount_fiat}}\){% endif %}
*ID*: [{{txid}}](https://etherscan.io/tx/{{txid}})
*Address*: [{{address}}](https://flexpool.io/{{address}})
*Date/Time*: {{time}}
*Duration*: {{duration}}
